[submodule "vendor/MAKVONotificationCenter"]
	path = vendor/MAKVONotificationCenter
	url = https://github.com/mikeash/MAKVONotificationCenter.git
[submodule "vendor/bigml-objc"]
	path = vendor/bigml-objc
	url = https://github.com/bigmlcom/bigml-objc.git
