<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optionGroups</key>
	<array>
		<string>Algorithm</string>
		<string>Sampling</string>
	</array>
	<key>optionNames</key>
	<dict>
		<key>Algorithm</key>
		<array>
			<string>seed</string>
			<string>forest_size</string>
			<string>anomaly_seed</string>
			<string>top_n</string>
		</array>
		<key>Sampling</key>
		<array>
			<string>sample_rate</string>
			<string>range</string>
			<string>replacement</string>
			<string>out_of_bag</string>
		</array>
	</dict>
	<key>optionDescriptions</key>
	<dict>
		<key>seed</key>
		<dict>
			<key>type</key>
			<string>text</string>
		</dict>
		<key>forest_size</key>
		<dict>
			<key>type</key>
			<string>int</string>
			<key>min</key>
			<string>2</string>
			<key>max</key>
			<string>1000</string>
			<key>default</key>
			<string>256</string>
		</dict>
		<key>anomaly_seed</key>
		<dict>
			<key>type</key>
			<string>text</string>
		</dict>
		<key>top_n</key>
		<dict>
			<key>type</key>
			<string>int</string>
			<key>min</key>
			<string>1</string>
			<key>max</key>
			<string>1024</string>
			<key>default</key>
			<string>10</string>
		</dict>
		<key>sample_rate</key>
		<dict>
			<key>type</key>
			<string>double</string>
			<key>title</key>
			<string>sample_rate</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>1</string>
			<key>default</key>
			<string>1.0</string>
		</dict>
		<key>range</key>
		<dict>
			<key>type</key>
			<string>int_range</string>
			<key>title</key>
			<string>range</string>
			<key>min</key>
			<string>1</string>
			<key>max</key>
			<string>100</string>
		</dict>
		<key>replacement</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>title</key>
			<string>replacement</string>
		</dict>
		<key>out_of_bag</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>title</key>
			<string>out_of_bag</string>
		</dict>
	</dict>
</dict>
</plist>
