<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optionGroups</key>
	<array>
		<string>General</string>
		<string>Algorithm</string>
		<string>Sampling</string>
		<string>Ensemble Sample</string>
	</array>
	<key>optionNames</key>
	<dict>
		<key>Ensemble Sample</key>
		<array>
			<string>ensemble_sample_rate</string>
			<string>ensemble_sample_replacement</string>
			<string>ensemble_sample_seed</string>
		</array>
		<key>General</key>
		<array>
			<string>objective_field</string>
			<string>stat_pruning</string>
			<string>number_of_models</string>
		</array>
		<key>Algorithm</key>
		<array>
			<string>ensemble_algorithm</string>
			<string>random_candidates_selector</string>
			<string>random_candidates_ratio</string>
			<string>missing_splits</string>
			<string>node_threshold</string>
			<string>randomize</string>
			<string>seed</string>
		</array>
		<key>Sampling</key>
		<array>
			<string>sample_rate</string>
			<string>range</string>
			<string>replacement</string>
			<string>out_of_bag</string>
			<string>ordering</string>
		</array>
	</dict>
	<key>optionDescriptions</key>
	<dict>
		<key>ensemble_algorithm</key>
		<dict>
			<key>showOnly</key>
			<true/>
			<key>type</key>
			<string>categorical</string>
			<key>categories</key>
			<dict>
				<key>bagging</key>
				<string>bagging</string>
				<key>random_forest</key>
				<string>random_forest</string>
			</dict>
		</dict>
		<key>random_candidates_selector</key>
		<dict>
			<key>showOnly</key>
			<true/>
			<key>showOn</key>
			<string>ensemble_algorithm=random_forest</string>
			<key>type</key>
			<string>categorical</string>
			<key>categories</key>
			<dict>
				<key>default_random_candidates</key>
				<string>default_random_candidates</string>
				<key>random_candidates_ratio</key>
				<string>random_candidates_ratio</string>
			</dict>
		</dict>
		<key>number_of_models</key>
		<dict>
			<key>type</key>
			<string>int</string>
			<key>default</key>
			<string>10</string>
			<key>min</key>
			<string>1</string>
			<key>max</key>
			<string>256</string>
		</dict>
		<key>ordering</key>
		<dict>
			<key>type</key>
			<string>choice</string>
			<key>choices</key>
			<array>
				<string>deterministic</string>
				<string>linear</string>
				<string>random</string>
			</array>
		</dict>
		<key>ensemble_sample_rate</key>
		<dict>
			<key>type</key>
			<string>double</string>
			<key>title</key>
			<string>rate</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>1</string>
			<key>collection</key>
			<string>ensemble_sample</string>
		</dict>
		<key>ensemble_sample_replacement</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>replacement</key>
			<string>replacement</string>
			<key>collection</key>
			<string>ensemble_sample</string>
		</dict>
		<key>ensemble_sample_seed</key>
		<dict>
			<key>type</key>
			<string>text</string>
			<key>title</key>
			<string>seed</string>
			<key>collection</key>
			<string>ensemble_sample</string>
		</dict>
		<key>seed</key>
		<dict>
			<key>type</key>
			<string>text</string>
			<key>title</key>
			<string>seed</string>
		</dict>
		<key>stat_pruning</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>default</key>
			<true/>
			<key>dontShow</key>
			<true/>
			<key>valueOn</key>
			<dict>
				<key>pruning=smart_pruning</key>
				<true/>
				<key>pruning=active_pruning</key>
				<true/>
				<key>pruning=no_pruning</key>
				<false/>
			</dict>
		</dict>
		<key>objective_field</key>
		<dict>
			<key>type</key>
			<string>categorical</string>
			<key>categories</key>
			<array>
				<string>last_field</string>
				<string>first_field</string>
			</array>
		</dict>
		<key>missing_splits</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>title</key>
			<string>missing_splits</string>
		</dict>
		<key>randomize</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>title</key>
			<string>randomize</string>
			<key>dontShow</key>
			<true/>
			<key>valueOn</key>
			<dict>
				<key>ensemble_algorithm=random_forest</key>
				<true/>
				<key>ensemble_algorithm=bagging</key>
				<false/>
			</dict>
		</dict>
		<key>node_threshold</key>
		<dict>
			<key>type</key>
			<string>int</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>512</string>
			<key>title</key>
			<string>Node Threshold</string>
			<key>default</key>
			<string>512</string>
		</dict>
		<key>sample_rate</key>
		<dict>
			<key>type</key>
			<string>double</string>
			<key>title</key>
			<string>sample_rate</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>1</string>
		</dict>
		<key>random_candidates_ratio</key>
		<dict>
			<key>type</key>
			<string>double</string>
			<key>title</key>
			<string>random_candidates_ratio</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>1</string>
			<key>showOn</key>
			<string>random_candidates_selector=random_candidates_ratio</string>
		</dict>
		<key>replacement</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>title</key>
			<string>replacement</string>
		</dict>
		<key>range</key>
		<dict>
			<key>type</key>
			<string>int_range</string>
			<key>title</key>
			<string>range</string>
			<key>min</key>
			<string>1</string>
			<key>max</key>
			<string>100</string>
		</dict>
		<key>sampling</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>title</key>
			<string>sampling</string>
		</dict>
		<key>out_of_bag</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>title</key>
			<string>out_of_bag</string>
		</dict>
	</dict>
</dict>
</plist>
