<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optionGroups</key>
	<array>
		<string>General</string>
		<string>Resource Limits</string>
	</array>
	<key>optionNames</key>
	<dict>
		<key>General</key>
		<array>
			<string>tlp</string>
			<string>max_execution_time</string>
			<string>max_execution_steps</string>
			<string>max_recursion_depth</string>
		</array>
		<key>Sampling</key>
		<array>
			<string>total</string>
			<string>source</string>
			<string>dataset</string>
			<string>model</string>
			<string>cluster</string>
			<string>anomaly</string>
			<string>ensemble</string>
		</array>
	</dict>
	<key>optionDescriptions</key>
	<dict>
		<key>tlp</key>
		<dict>
			<key>type</key>
			<string>int</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>128</string>
			<key>default</key>
			<string>1</string>
		</dict>
		<key>max_execution_time</key>
		<dict>
			<key>type</key>
			<string>int</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>10000</string>
			<key>default</key>
			<string>3600</string>
		</dict>
		<key>max_execution_steps</key>
		<dict>
			<key>type</key>
			<string>int</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>10000</string>
			<key>default</key>
			<string>3600</string>
		</dict>
		<key>max_recursion_depth</key>
		<dict>
			<key>type</key>
			<string>int</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>10000</string>
			<key>default</key>
			<string>3600</string>
		</dict>
		<key>total</key>
		<dict>
			<key>type</key>
			<string>int</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>10000</string>
			<key>default</key>
			<string>3600</string>
			<key>collection</key>
			<string>resource_limits</string>
		</dict>
		<key>source</key>
		<dict>
			<key>type</key>
			<string>int</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>10000</string>
			<key>default</key>
			<string>3600</string>
			<key>collection</key>
			<string>resource_limits</string>
		</dict>
		<key>dataset</key>
		<dict>
			<key>type</key>
			<string>int</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>10000</string>
			<key>default</key>
			<string>3600</string>
			<key>collection</key>
			<string>resource_limits</string>
		</dict>
		<key>model</key>
		<dict>
			<key>type</key>
			<string>int</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>10000</string>
			<key>default</key>
			<string>3600</string>
			<key>collection</key>
			<string>resource_limits</string>
		</dict>
		<key>cluster</key>
		<dict>
			<key>type</key>
			<string>int</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>10000</string>
			<key>default</key>
			<string>3600</string>
			<key>collection</key>
			<string>resource_limits</string>
		</dict>
		<key>anomaly</key>
		<dict>
			<key>type</key>
			<string>int</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>10000</string>
			<key>default</key>
			<string>3600</string>
			<key>collection</key>
			<string>resource_limits</string>
		</dict>
		<key>ensemble</key>
		<dict>
			<key>type</key>
			<string>int</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>10000</string>
			<key>default</key>
			<string>3600</string>
			<key>collection</key>
			<string>resource_limits</string>
		</dict>
	</dict>
</dict>
</plist>
