<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optionGroups</key>
	<array>
		<string>General</string>
		<string>Algorithm</string>
		<string>Sampling</string>
	</array>
	<key>optionNames</key>
	<dict>
		<key>General</key>
		<array>
			<string>default_numeric_value</string>
			<string>missing_numerics</string>
			<string>eps</string>
			<string>compute_stats</string>
		</array>
		<key>Algorithm</key>
		<array>
			<string>bias</string>
			<string>balance_field</string>
			<string>c</string>
			<string>normalize</string>
		</array>
		<key>Sampling</key>
		<array>
			<string>sample_rate</string>
			<string>range</string>
			<string>replacement</string>
			<string>out_of_bag</string>
			<string>stats_sample_seed</string>
			<string>stats_sample_size</string>
		</array>
	</dict>
	<key>optionDescriptions</key>
	<dict>
		<key>balance_field</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>default</key>
			<false/>
			<key>info</key>
			<string>Whether to scale each numeric field such that its values are zero mean with a standard deviation of 1, based on the field summary statistics at training time.</string>
		</dict>
		<key>bias</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>info</key>
			<string>Whether to include the bias term from the solution.</string>
			<key>default</key>
			<true/>
		</dict>
		<key>c</key>
		<dict>
			<key>type</key>
			<string>double</string>
			<key>info</key>
			<string>The inverse of the regularization strength. Must be greater than 0.</string>
			<key>default</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1000</integer>
		</dict>
		<key>compute_stats</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>info</key>
			<string>Whether to compute statistics and significance tests.</string>
			<key>default</key>
			<false/>
		</dict>
		<key>default_numeric_value</key>
		<dict>
			<key>type</key>
			<string>categorical</string>
			<key>info</key>
			<string>What to substitute missing numeric values for across all the numeric fields in the dataset.</string>
			<key>default</key>
			<string>1.0</string>
			<key>categories</key>
			<array>
				<string>mean</string>
				<string>median</string>
				<string>minimum</string>
				<string>maximum</string>
				<string>zero</string>
			</array>
		</dict>
		<key>eps</key>
		<dict>
			<key>type</key>
			<string>double</string>
			<key>info</key>
			<string>Stopping criteria for solver. If the difference between the results from the current and last iterations is less than eps, then the solver is finished..</string>
			<key>default</key>
			<string>0.00001</string>
		</dict>
		<key>missing_numerics</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>info</key>
			<string>Whether to create an additional binary predictor each numeric field which denotes a missing value. If false, these predictors are not created, and rows containing missing numeric values are dropped. .</string>
			<key>default</key>
			<true/>
		</dict>
		<key>normalize</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>info</key>
			<string>Whether to normalize feature vectors in training and predicting.</string>
			<key>default</key>
			<false/>
		</dict>
		<key>sample_rate</key>
		<dict>
			<key>info</key>
			<string>A real number between 0 and 1 specifying the sample rate.</string>
			<key>type</key>
			<string>double</string>
			<key>title</key>
			<string>sample_rate</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>1</string>
			<key>default</key>
			<string>1.0</string>
		</dict>
		<key>range</key>
		<dict>
			<key>type</key>
			<string>int_range</string>
			<key>info</key>
			<string>The range of successive instances to build the logistic regression in percent.</string>
			<key>title</key>
			<string>range</string>
			<key>min</key>
			<string>1</string>
			<key>max</key>
			<string>100</string>
		</dict>
		<key>regularization</key>
		<dict>
			<key>type</key>
			<string>categorical</string>
			<key>info</key>
			<string>Either l1 or l2, which selects the norm to minimize when regularizing the solution. Regularizing with respect to the l1 norm causes more coefficients to be zero, using the l2 norm forces the magnitudes of all coefficients towards zero. </string>
			<key>default</key>
			<string>l2</string>
			<key>categories</key>
			<array>
				<string>l1</string>
				<string>l2</string>
			</array>
		</dict>
		<key>replacement</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>info</key>
			<string>Whether sampling should be performed with or without replacement.</string>
			<key>title</key>
			<string>replacement</string>
		</dict>
		<key>out_of_bag</key>
		<dict>
			<key>info</key>
			<string>Setting this parameter to true will return a sequence of the out-of-bag instances instead of the sampled instances.</string>
			<key>type</key>
			<string>bool</string>
			<key>title</key>
			<string>out_of_bag</string>
		</dict>
		<key>stats_sample_seed</key>
		<dict>
			<key>info</key>
			<string>Random seed value used for stats sampling.</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>stats_sample_size</key>
		<dict>
			<key>info</key>
			<string>The number of rows to sample for calculating statistics. If -1 is given, then the number of rows will be calculated such that (rows x coefficients) &lt;= 1E+8. The minimum between that number and the total number of input rows will be used. </string>
			<key>type</key>
			<string>int</string>
			<key>default</key>
			<string>-1</string>
		</dict>
	</dict>
</dict>
</plist>
