<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optionGroups</key>
	<array>
		<string>Algorithm</string>
		<string>Sampling</string>
	</array>
	<key>optionNames</key>
	<dict>
		<key>Algorithm</key>
		<array>
			<string>algorithm</string>
			<string>k</string>
			<string>critical_value</string>
			<string>default_numeric_value</string>
			<string>model_clusters</string>
		</array>
		<key>Sampling</key>
		<array>
			<string>sample_rate</string>
			<string>range</string>
			<string>replacement</string>
			<string>out_of_bag</string>
		</array>
	</dict>
	<key>optionDescriptions</key>
	<dict>
		<key>algorithm</key>
		<dict>
			<key>showOnly</key>
			<true/>
			<key>type</key>
			<string>categorical</string>
			<key>categories</key>
			<array>
				<string>k_means</string>
				<string>g_means</string>
			</array>
		</dict>
		<key>k</key>
		<dict>
			<key>type</key>
			<string>int</string>
			<key>min</key>
			<string>2</string>
			<key>max</key>
			<string>300</string>
			<key>default</key>
			<string>8</string>
			<key>showOn</key>
			<string>algorithm=k_means</string>
		</dict>
		<key>critical_value</key>
		<dict>
			<key>type</key>
			<string>int</string>
			<key>min</key>
			<string>1</string>
			<key>max</key>
			<string>10</string>
			<key>default</key>
			<string>5</string>
			<key>showOn</key>
			<string>algorithm=g_means</string>
		</dict>
		<key>default_numeric_value</key>
		<dict>
			<key>type</key>
			<string>categorical</string>
			<key>categories</key>
			<array>
				<string>maximum</string>
				<string>mean</string>
				<string>median</string>
				<string>minimum</string>
				<string>zero</string>
			</array>
		</dict>
		<key>model_clusters</key>
		<dict>
			<key>type</key>
			<string>bool</string>
		</dict>
		<key>sample_rate</key>
		<dict>
			<key>type</key>
			<string>double</string>
			<key>title</key>
			<string>sample_rate</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>1</string>
			<key>default</key>
			<string>1.0</string>
		</dict>
		<key>range</key>
		<dict>
			<key>type</key>
			<string>int_range</string>
			<key>title</key>
			<string>range</string>
			<key>min</key>
			<string>1</string>
			<key>max</key>
			<string>100</string>
		</dict>
		<key>sampling</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>title</key>
			<string>sampling</string>
		</dict>
		<key>replacement</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>title</key>
			<string>replacement</string>
		</dict>
		<key>out_of_bag</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>title</key>
			<string>out_of_bag</string>
		</dict>
	</dict>
</dict>
</plist>
