<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optionGroups</key>
	<array>
		<string>General</string>
		<string>Text Analysis</string>
	</array>
	<key>optionNames</key>
	<dict>
		<key>General</key>
		<array>
			<string>locale</string>
			<string>separator</string>
			<string>quote</string>
			<string>missing_tokens</string>
		</array>
		<key>Text Analysis</key>
		<array>
			<string>enabled</string>
			<string>language</string>
			<string>tokenize</string>
			<string>use_stop_words</string>
			<string>stemming</string>
			<string>case_sensitive</string>
		</array>
	</dict>
	<key>optionDescriptions</key>
	<dict>
		<key>enabled</key>
		<dict>
			<key>title</key>
			<string>Enabled</string>
			<key>type</key>
			<string>bool</string>
			<key>collection</key>
			<string>text_analysis</string>
		</dict>
		<key>language</key>
		<dict>
			<key>type</key>
			<string>categorical</string>
			<key>categories</key>
			<array>
				<string>en</string>
				<string>es</string>
				<string>nl</string>
				<string>ca</string>
				<string>not_a_language</string>
				<string>autodetect</string>
			</array>
			<key>collection</key>
			<string>text_analysis</string>
		</dict>
		<key>tokenize</key>
		<dict>
			<key>type</key>
			<string>categorical</string>
			<key>collection</key>
			<string>text_analysis</string>
			<key>categories</key>
			<array>
				<string>tokens_all</string>
				<string>tokens_only</string>
				<string>full_terms_only</string>
			</array>
		</dict>
		<key>use_stop_words</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>title</key>
			<string>Missing Splits</string>
			<key>collection</key>
			<string>text_analysis</string>
		</dict>
		<key>stemming</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>title</key>
			<string>Stemming enabled</string>
			<key>collection</key>
			<string>text_analysis</string>
		</dict>
		<key>case_sensitive</key>
		<dict>
			<key>type</key>
			<string>bool</string>
			<key>title</key>
			<string>Case sensitive</string>
			<key>collection</key>
			<string>text_analysis</string>
		</dict>
		<key>locale</key>
		<dict>
			<key>type</key>
			<string>categorical</string>
			<key>collection</key>
			<string>source_parser</string>
			<key>categories</key>
			<array>
				<string>en_us</string>
				<string>en_uk</string>
				<string>es_es</string>
				<string>nl_nl</string>
			</array>
		</dict>
		<key>separator</key>
		<dict>
			<key>type</key>
			<string>categorical</string>
			<key>collection</key>
			<string>source_parser</string>
			<key>categories</key>
			<array>
				<string>,</string>
				<string>;</string>
				<string>\t</string>
				<string> </string>
				<string>|</string>
			</array>
		</dict>
		<key>quote</key>
		<dict>
			<key>type</key>
			<string>categorical</string>
			<key>collection</key>
			<string>source_parser</string>
			<key>categories</key>
			<array>
				<string>&quot;</string>
				<string>&apos;</string>
			</array>
		</dict>
		<key>missing_tokens</key>
		<dict>
			<key>type</key>
			<string>string_array</string>
			<key>collection</key>
			<string>source_parser</string>
			<key>title</key>
			<string>missing_tokens</string>
			<key>default</key>
			<string>&quot;&quot;, NaN, NULL, N/A, null, -, #REF!, #VALUE!, ?, #NULL!, #NUM!, #DIV/0, n/a, #NAME?, NIL, nil, na, #N/A, NA</string>
		</dict>
	</dict>
</dict>
</plist>
